<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <!-- Brand -->
    <img src="<%=	image_url('logo.png') %>" height="100" width="300">


    <!-- Links -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <%=	link_to('Candle Stick chart', home_candle_stick_chart_path(), method: :get, class: 'nav-link')%>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <%= @exchange ?  @exchange.name : ''%>
        </a>
        <div class="dropdown-menu">
          <% Exchange.all.each do |ex|%>
             <%=	link_to(ex.name, home_index_path(exchange:  ex.short_name), method: :get, class: 'dropdown-item')%>
          <% end %>
        </div>
      </li>
    </ul>

    <div class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%=	link_to('Sign out', destroy_user_session_path, method: :delete, class: 'nav-link')%>
      <% end %>

    </div>
  </div>
</nav>