<!DOCTYPE html>
<html>
  <head>
    <title>CrawlCryptoCurrencyPair</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
  <!--destroy_user_session_path-->
    <% if user_signed_in? %>
      <%=	 link_to('Sign out', destroy_user_session_path, method: :delete)%>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
