<!DOCTYPE html>
<html>
  <head>
    <title>CrawlCryptoCurrencyPair</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
  <!--destroy_user_session_path-->
    <!--notification container-->
    <!-- main container-->
    <div class="container-fluid">
      <%= render 'layouts/navbar' %>
      <div class="container notification-area text-right">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="container main-content">
        <%= yield %>

      </div>
    </div>
  </body>
</html>
